### 1.3 Векторы (часть 1)
Напишите функцию get_fractions, которая принимает на вход два числа, m и n, и возвращает аналогичный вектор, содержащий все дроби вида {i/m, i = 0, 1, ..., m} и  {j/n, j = 0, 1, ..., n}. Вектор не должен содержать повторов. И -- сюжетный поворот -- должен быть упорядочен в порядке убывания

In [11]:
get_fractions <- function(m,n) {
    round(unique(sort(c(seq(0,1,1/m),seq(0,1,1/n)),decreasing=TRUE)),3)
}

#####################
print(get_fractions(3,7))

 [1] 1.000 0.857 0.714 0.667 0.571 0.429 0.333 0.286 0.143 0.000

#### Игральный кубик
Функция dice_roll(n) должна выдавать n независимых бросков игрального кубика. Допустимые значения, разумеется, в диапазоне от 1 до 6.

In [3]:
dice_roll <- function(n) {
    sample(1:6, n, replace = T)
}

######################
table(dice_roll(1000))

  1   2   3   4   5   6
172 185 148 144 175 176

### 1.5 Векторы (часть 2)
Напишите функцию, которая принимает один аргумент (числовой вектор) и возвращает TRUE, если вектор обладает свойством нестрогой монотонности, то есть является либо несторого возрастающим, либо нестрого убывающим. В противном случае функция возвращает FALSE.

In [109]:
is_monotone <- function(x) {
  return(all(sort(x)==x)|all(sort(x,decreasing=T)==x))
}

####################
list(not_monotone = is_monotone(sample(1:10, 10, replace = T)),
    monotone = is_monotone(sort(sample(1:10, 10, replace = T))))

$not_monotone
[1] FALSE

$monotone
[1] TRUE

#### Разбавим курс ложечкой комбинаторики. 
Пусть у нас есть n предметов, из которых нужно выбрать k штук. 
$$
C_n^k = \frac{n!}{k!(n-k)!}
$$
Похожий вид имеет и количество сочетаний с повторениями (мультикомбинаций):
$$
C_{(n)}^k = \frac{(n+k-1)!}{k!(n-1)!}
$$

In [4]:
combin_count <- function(n, k, with_repretitions = FALSE) {
  if (with_repretitions) {
    return(prod(1:(n+k-1))/prod(1:k)/prod(1:(n-1)))
  } else {
    return(prod(1:n)/prod(1:k)/prod(1:(n-k)))
  }
}

##########################
list(without_repretitions = combin_count(6, 3, FALSE),
    with_repretitions = combin_count(6, 3, TRUE))

$without_repretitions
[1] 20

$with_repretitions
[1] 56

### 2.1 Матрицы и списки
Предположим, что у нас есть целочисленный вектор v и число n. Наша задача — найти позицию элемента в векторе, который ближе всего к числу n. При этом если таких элементов несколько, необходимо указать все позиции.

Напишите функцию, которая принимает на вход вектор и число и возвращает вектор индексов, отвечающих указанному условию. Индексы должны быть выстроены по возрастанию.

In [6]:
find_closest <- function(v, n) {
    d=abs(v-n)
    return(which(d == min(d)))
}

###########################
print(find_closest(c(5, 2, 7, 7, 7, 2, 0, 0), 1))

[1] 2 6 7 8

#### Построим зиккурат!
Напишите функцию, которая принимает одно целое число n, а возвращает “ступенчатую” матрицу, состоящую из n этажей. Этажи нумеруются с первого, ширина каждой ступеньки равна одной строке или столбцу.

In [10]:
build_ziggurat <- function(n) {
  m=matrix(1, nrow=n*2-1, ncol = n*2-1)
  for (i in 1:n) {  
    m[i:(2*n-i),i:(2*n-i)] = i
  }
  return(m)
}

#############################
build_ziggurat(4)

     [,1] [,2] [,3] [,4] [,5] [,6] [,7]
[1,] 1    1    1    1    1    1    1
[2,] 1    2    2    2    2    2    1
[3,] 1    2    3    3    3    2    1
[4,] 1    2    3    4    3    2    1
[5,] 1    2    3    3    3    2    1
[6,] 1    2    2    2    2    2    1
[7,] 1    1    1    1    1    1    1

#### Частоты элементов
Пусть x -- целочисленный вектор. Напишите функцию, которая вернёт матрицу из двух строк. В первой строке перечислите все различные элементы вектора, упорядоченные по возрастанию. Во второй строке укажите частоты (количество повторов) этих элементов.

In [112]:
count_elements <- function(x) {
    x=sort(x)
    y=numeric(0)
    for(i in x){
      y=c(y,length(which(x==i)))
    }
    z=unique(rbind(x,y),MARGIN=2)
    return(z)
}

#######################
x = c(5, 2, 7, 7, 7, 2, 0, 0)
list(count_elements = count_elements(x),
    table = table(x))

$count_elements
  [,1] [,2] [,3] [,4]
x    0    2    5    7
y    2    2    1    3

$table
x
0 2 5 7
2 2 1 3

### 2.2 Дата фреймы
Дата фрейм attitude -- встроенный массив данных, содержащий рейтинг департаментов одной финансовой компании, составленный сотрудниками. Представьте, что вы хотите устраиваться как раз в эту компанию, и дата фрейм (совершенно случайно!) оказался в вашем распоряжении. 

Вы решили, что самое главное для вас -- это возможность учиться новому (learning). Возьмите 5 топовых департаментов по этому показателю. Из этого набора вам более всего подойдёт тот департамент, который имеет наибольшую сумму баллов по трём показателям: реакция на жалобы работников (complaints), надбавки в зависимости от результатов работы (raises) и возможность продвижения (advance).

Какой же департамент вам выбрать? Напишите его номер XX (номер строки в дата фрейме).

In [7]:
df = attitude
learn = tail(sort(df$learning),5)
rat = df[df$learning %in% learn, c(1,2,4,5)]

print(which.max(apply(rat, 1, FUN=sum)))

29
 5

#### AvianHabbitat
Cкачайте файл по ссылке, добавьте новые данные в общий дата фрейм и повторите подсчёт общего покрытия, добавив переменную total_coverage. В качестве ответа пришлите величину среднего покрытия с точностью до второго знака: X.XX

In [8]:
library(stringr)
avian = read.csv("https://raw.githubusercontent.com/tonytonov/Rcourse/master/R%20programming/avianHabitat.csv", stringsAsFactors = F)
coverage_variables = names(avian)[str_detect(names(avian), "^P")]
avian$Observer = as.factor(avian$Observer)

avian2 = read.csv2("https://raw.githubusercontent.com/tonytonov/Rcourse/master/R%20programming/avianHabitat2.csv", stringsAsFactors = F, skip = 5, comment.char = '%', na.strings = c("Don't remember"), dec = '.')
avian2$Observer = "RA"
avian21 = rbind(avian,avian2)
avian21$total_coverage = rowSums(avian21[, coverage_variables])

print(paste("Mean total coverage = ", round(mean(avian21$total_coverage),2)))

[1] "Mean total coverage =  9.57"

#### Максимальные высоты
Исследователям интересно, какие выдающиеся экземпляры растений удалось обнаружить? На массиве avianHabitat найдите максимальные высоты по каждому виду растений и отсортируйте эти виды по убыванию, от самого высокого к самому низкому.

In [45]:
library(stringr)
avian = read.csv("https://raw.githubusercontent.com/tonytonov/Rcourse/master/R%20programming/avianHabitat.csv", stringsAsFactors = F)
plants = names(avian)[str_detect(names(avian), "Ht$")]
avian_sub=avian[,plants]

sort(apply(avian_sub[,plants], 2, FUN=max))

 LHt  EHt  HHt DBHt  WHt  AHt
 1.3  5.3  8.2 10.0 24.5 31.5

### 2.3 Факторы и строки
В память о бедном Йорике я подготовил небольшую тираду и обработал её средствами stringr. Вы не могли бы дать мне небольшой лингвистический обзор этого предложения?

In [36]:
library(stringr)

hamlet <- "To be, or not to be: that is the question:
Whether 'tis nobler in the mind to suffer
The slings and arrows of outrageous fortune,
Or to take arms against a sea of troubles,
And by opposing end them?"

hamlet <- str_replace_all(hamlet, "[:punct:]", "")
hamlet <- tolower(unlist(str_split(hamlet, "[:space:]")))

regs = c("to", "[fqw]", "b.", "^.{7}$")
m=matrix(nrow=1, ncol=4, dimnames = list("count", regs))

for (i in regs) {
    m[1, i] = sum(str_detect(hamlet, i))
}
m

      to [fqw] b. ^.{7}$
count 4  7     5  3

#### quakes
Превратить количественную переменную mag (сила землетрясения в баллах по шкале Рихтера) дата фрейма quakes в качественную. Интервалы должны быть длиной в полбалла, начиная с минимального, при этом левый конец интервала включается. Теперь отсортируйте общее количество случаев, попавших в каждую категорию, в порядке убывания.

In [9]:
df = quakes
df$mag = cut(df$mag, include.lowest = T, seq(from = min(df$mag), to=max(df$mag)+0.1, by=0.5))
sort(table(df$mag))

(6,6.5] (5.5,6] (5,5.5] (4.5,5] [4,4.5]
      2      22     127     365     484

#### Cреднее общее покрытие
Теперь, когда у нас есть переменная site_name, мы можем оценить общее покрытие в каждой из исследованных местностей. Используйте комбинацию site_name и total_coverage﻿, чтобы определить тот регион, в котором среднее общее покрытие, скажем, наименьшее.

In [55]:
avian <- read.csv("https://raw.githubusercontent.com/tonytonov/Rcourse/master/R%20programming/avianHabitat.csv")
coverage_variables = names(avian)[str_detect(names(avian), "^P")]
avian$total_coverage = rowSums(avian[, coverage_variables])
avian$site_name <- factor(gsub('[0-9]', '', avian$Site))
sort(round(tapply(avian$total_coverage, avian$site_name, mean),2))

    McAdamCreek      BunkerHill LivingstonCreek      CreteCreek     HortonCreek
           8.63            9.24            9.48           10.02           10.14

#### Cамые большие экземпляры по каждому виду
Наши любимые учёные, конечно же, соревнуются между собой. Самоё почётное, как нам уже известно, -- найти самый высокий экземпляр вида. В конце сезона исследователи подводят итоги и определяют самого удачливого, который торжественно объявляется чемпионом. После чего все пьют горячий грог и травят байки у костра.
Хорошо у них там!
Давайте поможем нашим друзьям определить, кто из них нашёл самые большие экземпляры по каждому виду.

In [56]:
avian <- read.csv('https://raw.githubusercontent.com/tonytonov/Rcourse/master/R%20programming/avianHabitat.csv')
ht_vars <- names(avian)[str_detect(names(avian), "Ht$")]
sapply(ht_vars, function(name) avian$Observer[which.max(avian[[name]])])

DBHt  WHt  EHt  AHt  HHt  LHt
"RA" "JT" "JT" "JT" "JT" "RA"

### 3.1 Функции
Пусть функция decorate_string действует поверх функции paste, дополнительно приклеивая к результату аргумент pattern. При этом этот аргумент должен быть присоединён как в начале строки (строк), так и в конце, но перевёрнутый задом наперёд.

In [58]:
library(stringi)
decorate_string = function(pattern, ...) {
  paste0(pattern,paste(...),stri_reverse(pattern))
}

#######################
list(decorate_string(pattern = "123", "abc"),
decorate_string(pattern = "123", "abc", "def"),  
decorate_string(pattern = "123", c("abc", "def")),
decorate_string(pattern = "123", "abc", "def", sep = "+"),
decorate_string(pattern = "!", c("x", "x"), collapse = "_"),
decorate_string(pattern = ".:", 1:2, 3:4, 5:6, sep = "&"))

[[1]]
[1] "123abc321"

[[2]]
[1] "123abc def321"

[[3]]
[1] "123abc321" "123def321"

[[4]]
[1] "123abc+def321"

[[5]]
[1] "!x_x!"

[[6]]
[1] ".:1&3&5:." ".:2&4&6:."

#### Давайте откроем казино!
Для создания респектабельного заведения нам не хватает игры в рулетку. Это единственное, что отделяет нас от заветного "Делайте ваши ставки, дамы и господа!"

И, раз уж вы займётесь изготовлением рулетки, у меня к вам одна деликатная просьба: не могли бы вы устроить так, чтобы их было две? При этом одна будет абсолютно нормальной, а вторая, ну, как бы так выразиться... Ведь если зеро будет выпадать чуточку почаще, то казино получит больше денег...

In [113]:
generator <- function(set, prob = rep(1/length(set), length(set))) {
  function(n) sample(set, n, prob, replace = T)
} 
roulette_values <- c("Zero!", 1:36)
fair_roulette <- generator(roulette_values)
rigged_roulette <- generator(roulette_values, prob = c(2,rep(1,length(roulette_values)-1)))

################
list(fair = table(fair_roulette(1000)),
     rigged = table(rigged_roulette(1000)))

$fair

    1    10    11    12    13    14    15    16    17    18    19     2    20
   36    29    26    22    28    28    23    23    28    26    22    23    23
   21    22    23    24    25    26    27    28    29     3    30    31    32
   21    34    27    25    24    32    30    24    28    36    34    24    22
   33    34    35    36     4     5     6     7     8     9 Zero!
   25    20    27    30    27    31    27    31    29    29    26

$rigged

    1    10    11    12    13    14    15    16    17    18    19     2    20
   17    18    25    25    25    31    33    26    31    24    30    26    32
   21    22    23    24    25    26    27    28    29     3    30    31    32
   21    34    21    30    26    18    30    33    24    30    25    19    33
   33    34    35    36     4     5     6     7     8     9 Zero!
   24    34    25    31    25    23    22    26    32    23    48

#### Бинарный оператор.
Пусть %+% действует на два числовых вектора, складывая их поэлементно, но без учёта правил переписывания: если длина векторов различна, то возвращаем вектор большей длины, но с пропущенными значениями в конце.

In [116]:
"%+%" <- function(x, y) {
  length(y)=length(x)=max(length(y), length(x))
  x+y
}

##################
list(1:5 %+% 1:2, 
     5 %+% c(2, 6))

[[1]]
[1]  2  4 NA NA NA

[[2]]
[1]  7 NA

### 3.2 Элементы функционального программирования
Один крупный учёный по фамилии Дарвин и имени Чарльз прославился не только своей книгой, название которой вы и без меня знаете, но и обширными трудами по классификациям видов. Благодаря ему мы знаем, что разнообразие признаков в популяции -- один из механизмов, обеспечивающих устойчивость вида.

В рамках исследовательского гранта сотрудники научно-исследовательского института Котологии занялись классификацией признаков сотен котов, котиков и котофеев.
Составьте вектор cat_catalogue, содержащий всевозможные комбинации имеющихся характеристик, и отсортируйте его. Помимо научной ценности, каталог (котолог?) можно использовать как средство для выбора домашнего питомца. Допустим, я хочу завести кота. Тогда я беру случайное число, скажем, 42, и выбираю запись под этим номером. Что за кот мне достался?

In [114]:
cat_temper <- c("задиристый", "игривый", "спокойный", "ленивый")
cat_color <- c("белый", "серый", "чёрный", "рыжий")
cat_age <- c("кот", "котёнок")
cat_trait <- c("с умными глазами", "с острыми когтями", "с длинными усами")

cats = expand.grid(cat_temper, cat_color, cat_age, cat_trait)
paste(cats[1,], collapse = " ")
print(sort(apply(cats, 1, paste0, collapse=" "))[42])

[1] "1 1 1 1"

[1] "игривый серый котёнок с умными глазами"

#### Симуляция
Блуждание на отрезке

In [85]:
# Random walk with absorption
simulate_walk <- function(lower = -10, upper = 10, n_max = 200, p = 1e-3) {
  current_position <- (lower + upper) / 2
  for (i in 1:n_max) {
    is_absorbed <- rbinom(1, 1, p)
    if (is_absorbed) return(list(status = "Absorbed", 
                                 position = current_position, 
                                 steps = i))
    current_position <- current_position + rnorm(1)
    if (current_position < lower) return(list(status = "Left breach", 
                                              position = current_position, 
                                              steps = i))
    if (current_position > upper) return(list(status = "Right breach", 
                                              position = current_position, 
                                              steps = i))
  }
  return(list(status = "Max steps reached", 
              position = current_position,
              steps = n_max))
}

# Simulate results
result <- replicate(1000, simulate_walk(), simplify = FALSE)
result <- data.frame(
  status = sapply(result, function(x) x$status),
  position = sapply(result, function(x) x$position),
  steps = sapply(result, function(x) x$steps)
)
# Inspect results
aggregate(position ~ status, data=result, FUN=length)
aggregate(steps ~ status, data=result, FUN=mean)

  status            position
1 Absorbed           87
2 Left breach       409
3 Max steps reached 112
4 Right breach      392

  status            steps
1 Absorbed           76.32184
2 Left breach        80.96577
3 Max steps reached 200.00000
4 Right breach       74.17857

#### Блуждание на плоскости
Возьмите написанную мной функцию и измените её так, чтобы блуждание начиналось в центре координат (0, 0), а все переходы по координатам x и y были бы независимы и имели стандартное нормальное распределение. Если вас пугают эти слова, то это то же самое, что делал я, только отдельно по x и по y.

Процесс обрывается в момент выхода за границу круга с центром в (0, 0) и радиусом 6. Вероятность поглощения на каждом шаге равна 0.01. Максимальное количество шагов — 100. Расстояние, разумеется, евклидово: расстояние от точки (x, y) до (0, 0) есть $ \sqrt{x^2 + y^2} $

​. Один шаг процесса подразумевает изменение обеих координат одновременно!

Теперь, когда все параметры зафиксированы, вероятность выхода частицы за пределы круга строго определена. Наша задача — найти эту вероятность. Это некоторое число, не зависящее от реализации алгоритма.

In [10]:
simulate_walk_round <- function(radius = 6, n_max = 100, p = 1e-2) {
  current_position <- c(0,0)
  for (i in 1:n_max) {
    is_absorbed <- rbinom(1, 1, p)
    if (is_absorbed) return(1) # absorbed
    current_position <- current_position + c(rnorm(1),rnorm(1))
    if (sqrt(sum(current_position**2)) > radius) return(2)# "out of range", 
  }
  return(3) # "Max steps reached", 
}

############################
n=1000
result <- replicate(n, simulate_walk_round(), simplify = T)
p_out = length(result[result==2])/n #probability of out of range
print(paste("probability of out of range = ", p_out))

[1] "probability of out of range =  0.819"

#### generic функции
Такие функции, как print, summary и plot, удобно определены как generic функции. Более того, если у вас есть собственные классы, то вы можете задавать свои варианты поведения для этих функций при передаче объектов вашего класса. Найдите, какие функции вида fun.obj существуют для этих трёх функций в базовом R.

In [91]:
library(stringr)
objs = c("matrix", "function", "default")
func = c("print", "summary", "plot")
ee=outer(func,objs,paste, sep=".")
(matrix(as.integer(mapply(exists, ee)), nc=3, dimnames = list(objs,func)))

         print summary plot
matrix   0     1       1
function 1     0       1
default  0     1       1

### 3.3 Обработка данных при помощи dplyr

#### С помощью базового R

In [92]:
library(stringr)
avian <- read.csv("https://raw.githubusercontent.com/tonytonov/Rcourse/master/R%20programming/avianHabitat.csv")
avian = subset(avian, PDB>0 & DBHt>0, c("Site", "Observer", "PDB", "DBHt"))
avian$Site = factor(str_replace(avian$Site, "[:digit:]+", ""))
subset(
  aggregate(avian$DBHt, list(Site=avian$Site, Observer=avian$Observer), max),
  x>=5
)

   Site        Observer x
1  BunkerHill  JT        9.9
3  BunkerHill  RA        7.0
5  HortonCreek RA       10.0
7  McAdamCreek RA        7.2
11 McAdamCreek RR        5.0

#### Смешанный способ

In [102]:
library(stringr)
library(dplyr)
avian <- read.csv("https://raw.githubusercontent.com/tonytonov/Rcourse/master/R%20programming/avianHabitat.csv")
avian = avian %>% 
  subset(PDB>0 & DBHt>0, c("Site", "Observer", "PDB", "DBHt")) %>% 
  transform(Site = factor(str_replace(.$Site, "[:digit:]+", "")))

aggregate(avian$DBHt, list(Site=avian$Site, Observer=avian$Observer), max) %>% 
  subset(x>=5)

   Site        Observer x
1  BunkerHill  JT        9.9
3  BunkerHill  RA        7.0
5  HortonCreek RA       10.0
7  McAdamCreek RA        7.2
11 McAdamCreek RR        5.0

#### С помощью dplyr

In [122]:
library(stringr)
library(dplyr)
avian = read.csv("https://raw.githubusercontent.com/tonytonov/Rcourse/master/R%20programming/avianHabitat.csv")
avian %>% 
  filter(PDB>0 & DBHt>0) %>% 
  select(Site, Observer, contains("DB")) %>% 
  mutate(Site = factor(str_replace(.$Site, "[:digit:]+", ""))) %>% 
  group_by(Site, Observer) %>% 
  summarise(MaxHt = max(DBHt)) %>% 
  filter(MaxHt >= 5)

`summarise()` has grouped output by 'Site'. You can override using the `.groups` argument.

  Site        Observer MaxHt
1 BunkerHill  JT        9.9
2 BunkerHill  RA        7.0
3 HortonCreek RA       10.0
4 McAdamCreek RA        7.2
5 McAdamCreek RR        5.0

#### Это последняя демонстрация ваших джедайских возможностей с дата фреймами!

Возьмите исходный avianHabitat. Примените к нему процедуру объединения по географической локации (Site). Мы будем работать со всеми имеющимися видами одновременно. Интересующая нас характеристика -- высота растений (*Ht). 

Теперь произведите следующий подсчёт по всем комбинациям места (Site) и наблюдателя (Observer). Интересующая нас статистика -- количество тех замеров, где обнаруживается хотя бы один экземпляр вида. Соберите эту статистику по всем видам. У вас получится таблица, в которой тройке вида (место M, наблюдатель N, вид P) соответствует число замеров в M, произведенных N, где обнаружен хотя бы один P.

In [121]:
library(stringr)
library(dplyr)
avian = read.csv("https://raw.githubusercontent.com/tonytonov/Rcourse/master/R%20programming/avianHabitat.csv")
avian %>% 
  select(Site, Observer, contains("Ht")) %>%
  mutate(Site = factor(str_replace(.$Site, "[:digit:]+", ""))) %>% 
  group_by(Site, Observer) %>% 
  mutate_at(vars(contains("Ht")), all_vars(.>0)) %>% 
  summarise_all(.funs=sum)

   Site            Observer DBHt WHt EHt AHt HHt LHt
1  BunkerHill      JT       53    36  63 5    68  15
2  BunkerHill      RA       56    46  65 6    70  24
3  CreteCreek      RA       49    42  78 0    91  78
4  CreteCreek      RR       43    32  67 0    80  74
5  HortonCreek     JT       39    38  70 0    75  65
6  HortonCreek     RA       49    60 116 0   123 110
7  HortonCreek     RR       21    21  45 1    49  40
8  LivingstonCreek RA       49   105 106 0   134  95
9  LivingstonCreek RR       47   115 106 0   154  98
10 McAdamCreek     RA       58   114 122 0   139  85
11 McAdamCreek     RR       28    38  49 0    50  30