# Step 1.1

In [3]:
# Используйте print() чтобы распечатать получившийся pd.Series.

import pandas as pd
lst = list('zyxwvutsr')
ser = pd.Series(lst)
ser

0    z
1    y
2    x
3    w
4    v
5    u
6    t
7    s
8    r
dtype: object

In [4]:
# На основе листа lst и массива arr сформируйте словарь и cоздайте pandas.Series из получившегося словаря.

import numpy as np
import pandas as pd

lst = list('abced')
arr = np.arange(5)
pd.Series(arr, index=lst)

a    0
b    1
c    2
e    3
d    4
dtype: int64

In [8]:
# Объедините два pandas.Series (s1, s2) таким образом чтобы получился pandas.DataFrame не используя конструктор!

import numpy as np
import pandas as pd

s1 = pd.Series(list('abced'))
s2 = pd.Series(np.arange(5))

pd.concat([s1, s2], axis=1)

   0  1
0  a  0
1  b  1
2  c  2
3  e  3
4  d  4

In [9]:
# Объедините два pandas.Series (переменные s1, s2) таким образом чтобы получился pandas.DataFrame.

import numpy as np
import pandas as pd

s1 = pd.Series(list('abced'))
s2 = pd.Series(np.arange(5))

pd.concat([s1, s2], axis=1, keys=["col1", "col2"])

  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

In [10]:
# Присвойте индексу pandas.Series имя 'characters'.

import pandas as pd

s = pd.Series(list('abced'))
s.name = 'characters'
s

0    a
1    b
2    c
3    e
4    d
Name: characters, dtype: object

In [11]:
# Получите элементы s1, которые не присутствуют в s2.

import pandas as pd

s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([4, 5, 6, 7, 8])

s1[~s1.isin(s2)]

0    1
1    2
2    3
dtype: int64

In [12]:
# Создайте новый pandas.Series из элементов, которые присутствуют только в одном из двух pandas.Series (переменные s1, s2).
# Если элемент присутствует в двух Series, то выводить его не надо.

import pandas as pd
import numpy as np

s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([4, 5, 6, 7, 8])

res = pd.Series(np.union1d(s1, s2))
s12 = pd.Series(np.intersect1d(s1, s2))
res[~res.isin(s12)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

In [13]:
# Имея данные в pandas.Series (переменная s1) рассчитайте:

#    наименьшее значение
#    25 перцентиль
#    медиану
#    75 перцентиль
#    наибольшее значение

import pandas as pd
import numpy as np

lst = [12.53904795,  5.68886327, 16.24734871,  9.60194377,  5.55134259,
       5.59100805, 10.09319475, 11.18922311, 10.06774274,  1.822353]

s1 = pd.Series(lst)
np.percentile(s1, [0, 25, 50, 75, 100])

array([ 1.822353  ,  5.61547186,  9.83484325, 10.91521602, 16.24734871])

In [14]:
# Определите сколько раз встречается каждое значение в исходном pandas.Series (переменная s).

import pandas as pd

s = pd.Series(list('abdcbdhafceeabcahbcaedadaecbbbecafgh'))
s.value_counts()

a    8
b    7
c    6
e    5
d    4
h    3
f    2
g    1
dtype: int64

# Step 1.2

In [41]:
# Доработайте код таким образом, чтобы оставить только 2 наиболее встречающихся значения, а для остальных установите значение 'Yet another value'

import pandas as pd

s = pd.Series(list('abdcbdhafceeabcahbcaedadaecbbbecafgh'))
r = s.value_counts().head(2).index
s[~s.isin(r)] = 'Yet another value'
s

0                     a
1                     b
2     Yet another value
3     Yet another value
4                     b
5     Yet another value
6     Yet another value
7                     a
8     Yet another value
9     Yet another value
10    Yet another value
11    Yet another value
12                    a
13                    b
14    Yet another value
15                    a
16    Yet another value
17                    b
18    Yet another value
19                    a
20    Yet another value
21    Yet another value
22                    a
23    Yet another value
24                    a
25    Yet another value
26    Yet another value
27                    b
28                    b
29                    b
30    Yet another value
31    Yet another value
32                    a
33    Yet another value
34    Yet another value
35    Yet another value
dtype: object

In [42]:
# Разбейте все значения из pandas.Series (переменная s1) на 3 интервала равного размера.

import pandas as pd

s1 = pd.Series(reversed(range(0, 10)))
pd.qcut(s1, 3)

0       (6.0, 9.0]
1       (6.0, 9.0]
2       (6.0, 9.0]
3       (3.0, 6.0]
4       (3.0, 6.0]
5       (3.0, 6.0]
6    (-0.001, 3.0]
7    (-0.001, 3.0]
8    (-0.001, 3.0]
9    (-0.001, 3.0]
dtype: category
Categories (3, interval[float64, right]): [(-0.001, 3.0] < (3.0, 6.0] < (6.0, 9.0]]

In [44]:
# Преобразуйте pandas.Series (переменная s1) в pandas.DataFrame размером 2 х 5.

import pandas as pd
import numpy as np

s1 = pd.Series(range(0, 10))
pd.DataFrame(np.array(s1).reshape(2, 5))

   0  1  2  3  4
0  0  1  2  3  4
1  5  6  7  8  9

In [45]:
# Найдите индексы значений, которые кратны 2.

import pandas as pd
import numpy as np

s1 = pd.Series([5, 10, 2, 3, 9, 12, 1])
np.argwhere(s1.to_numpy() % 2 == 0)

array([[1],
       [2],
       [5]])

In [46]:
# Создайте новый pandas.Series из элементов, которые находятся по индексам: 0, 7, 12, 15, 19

import pandas as pd

s1 = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))

s1.take([0, 7, 12, 15, 19])

0     a
7     h
12    m
15    p
19    t
dtype: object

In [47]:
# Преобразуйте элементы pandas.Series (переменная s1) из строк в даты

import pandas as pd

s1 = pd.Series(['01 Jan 2022', '02-02-2022', '20220303',
               '2022/04/04', '2022-05-05', '2022-06-06T12:20'])
pd.to_datetime(s1)

0   2022-01-01 00:00:00
1   2022-02-02 00:00:00
2   2022-03-03 00:00:00
3   2022-04-04 00:00:00
4   2022-05-05 00:00:00
5   2022-06-06 12:20:00
dtype: datetime64[ns]

In [48]:
# Объект pandas.Series (переменная s1) содержит некоторые числовые значения.
# Для значений хранящихся в s2 определите индексы под которыми они хранятся  в s1.

import pandas as pd

s1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
s2 = pd.Series([1, 3, 10, 13])

s1[s1.isin(s2)].sort_values().index.to_list()

[5, 4, 0, 8]

In [49]:
# Даны следующие ряды данных:
# s_forecast - ряд прогнозных значений
# s_real - ряд фактических значений
# Вычислите среднеквадратичную ошибку.

import pandas as pd


s_forecast = pd.Series(range(10))
s_real = pd.Series(reversed(range(10)))

((s_forecast - s_real)**2).mean()

33.0

In [50]:
# Измените первый символ каждого слова на верхний регистр.

import pandas as pd
s1 = pd.Series(['the', 'weather', 'is', 'fine'])

s1.apply(lambda x: x.capitalize())

0        The
1    Weather
2         Is
3       Fine
dtype: object

In [52]:
# Подсчитайте количество символов в каждом слове.

import pandas as pd

s1 = pd.Series(['the', 'weather', 'is', 'fine'])

s1.str.len()

0    3
1    7
2    2
3    4
dtype: int64

# Step 1.3

In [186]:
# Вытяните день месяца, номер недели, день года и день недели из серии (s1)

import pandas as pd
import numpy as np

s1 = pd.Series(['05 Jan 2021', '02-04-2021', '20210403',
               '2021/06/04', '2021-03-05', '2021-03-06T12:20'])

s2 = pd.to_datetime(s1)
print("Date: ", s2.dt.day.to_list())
print("Week number: ", s2.dt.isocalendar().week.to_list())
print("Day number of year: ", s2.dt.dayofyear.to_list())
print("Day of week: ", s2.dt.day_name().to_list())

Date:  [5, 4, 3, 4, 5, 6]
Week number:  [1, 5, 13, 22, 9, 9]
Day number of year:  [5, 35, 93, 155, 64, 65]
Day of week:  ['Tuesday', 'Thursday', 'Saturday', 'Friday', 'Friday', 'Saturday']

In [54]:
# Измените даты лежащие в серии (s1) таким образом чтобы они начинались с 10-го числа соответствующего месяца.

import pandas as pd
import numpy as np

s1 = pd.Series(['Jan 2022', 'Feb 2022', 'Mar 2022'])
s2 = pd.to_datetime(s1)
s2+pd.Timedelta(days=9)

0   2022-01-10
1   2022-02-10
2   2022-03-10
dtype: datetime64[ns]

In [55]:
# Из серии (s1) вытяните слова, содержащие не менее 2 гласных.

import pandas as pd
import numpy as np

s1 = pd.Series(['Apple', 'Orange', 'Plan', 'Sky', 'Money'])

s1[s1.str.lower().str.count(r'[aeiou]') > 1]

0     Apple
1    Orange
4     Money
dtype: object

In [56]:
# Извлеките корректные почтовые адреса из серии (s1). Используйте pattern для этой задачи.

import pandas as pd
import numpy as np

s1 = pd.Series(['teach pandas at stepik.com', 'help@stepik.com',
               'user@t.co', 'lovepandas@google.com'])

pattern = '[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
s1[s1.str.match(pattern)]

1          help@stepik.com
2                user@t.co
3    lovepandas@google.com
dtype: object

In [57]:
# Вычислите среднее значение веса каждого фрукта.

import pandas as pd
import numpy as np

fruit_list = ['banana', 'carrot', 'apple', 'carrot',
              'carrot', 'apple', 'banana', 'carrot', 'apple', 'carrot']
weights_list = [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]

fruits = pd.Series(fruit_list)
weights = pd.Series(weights_list)

weights.groupby(fruits).mean()

apple     6.0
banana    4.0
carrot    5.8
dtype: float64

In [58]:
# Вычислить евклидово расстояние между рядами (точками) X и Y


import pandas as pd
import numpy as np

X = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
Y = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

np.sqrt(sum((X-Y)**2))

18.16590212458495

In [59]:
# Определите индексы пиков (значения, окруженные меньшими значениями с обеих сторон).

import pandas as pd
import numpy as np

s1 = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])
s2 = s1.shift(1)
s3 = s1.shift(-1)
np.array(s1[(s1 > s2) & (s1 > s3)].index)

array([1, 5, 7])

In [60]:
# В серии (s1) находятся даты с 1 по 8 января 2022 года. Однако некоторые даты и значения к датам пропущены.
# Сделайте так, чтобы все отсутствующие даты отображались и заполнялись значением из предыдущей даты.

import pandas as pd
import numpy as np

s1 = pd.Series([1, 10, 3, np.nan], index=pd.to_datetime(
    ['2022-01-01', '2022-01-03', '2022-01-06', '2022-01-08']))
s1.asfreq('D').fillna(method='ffill')

2022-01-01     1.0
2022-01-02     1.0
2022-01-03    10.0
2022-01-04    10.0
2022-01-05    10.0
2022-01-06     3.0
2022-01-07     3.0
2022-01-08     3.0
Freq: D, dtype: float64

In [61]:
# Отредактируйте название колонок датафрейма (df) следующим образом:
# 1. user -> user_name
# 2. все точки в названии колонок заменить нижним подчёркиванием
# Выведите названия колонок после преобразования.

import pandas as pd
import numpy as np

df = pd.DataFrame(data={'user': ['Ivan', 'Petr', 'Alex'],
                        'user.balance': [500, 200, 0],
                        'user.age': [34, 25, 18],
                        'user.group': ['A', 'B', 'A']})


pd.Index(pd.Series(df.columns).replace(
    ["user$", "\."], ["user_name", "_"], regex=True))

Index(['user_name', 'user_balance', 'user_age', 'user_group'], dtype='object')

In [62]:
# Проверьте, имеются ли пропущенные значения в датафрейме (df).

import pandas as pd
import numpy as np

df = pd.DataFrame(data={'user': ['Ivan', 'Petr', 'Alex'],
                        'user.balance': [500, None, 0],
                        'user.age': [34, 25, 18],
                        'user.group': ['A', 'B', 'A']})

np.any(df.isna())

True

# Step 1.4

In [196]:
# Подсчитайте количество пропущенных значений в каждом столбце.

import pandas as pd
import numpy as np

df = pd.DataFrame(data={'user': ['Ivan', 'Petr', 'Alex', 'Den'],
                        'user.balance': [500, None, 0, None],
                        'user.age': [34, None, 18, 43],
                        'user.group': ['A', 'B', 'A', 'B']})

df.isna().sum()

user            0
user.balance    2
user.age        1
user.group      0
dtype: int64

In [197]:
# Замените отсутствующие значения в столбцах user.speed и user.bag_weight их соответствующими средними значениями.

import pandas as pd
import numpy as np

df = pd.DataFrame(data={'user': ['Ivan', 'Petr', 'Alex', 'Den'],
                        'user.speed': [40, None, 42, 35],
                        'user.bag_weight': [8, None, 2, 4]})


means = df.mean(numeric_only=True)
df.fillna(means)[['user.speed', 'user.bag_weight']]

   user.speed  user.bag_weight
0        40.0         8.000000
1        39.0         4.666667
2        42.0         2.000000
3        35.0         4.000000

In [63]:
# Используйте метод apply, чтобы заменить отсутствующие значения в user.speed средним значением столбца, а в user.bag_weight — медианой столбца.

import pandas as pd
import numpy as np

df = pd.DataFrame(data={'user': ['Ivan', 'Petr', 'Alex', 'Den'],
                        'user.speed': [40, None, 42, 35],
                        'user.bag_weight': [8, None, 2, 4]})


def foo(x):
    if x.name == "user.bag_weight":
        return x.fillna(x.median())
    elif x.name == "user.speed":
        return x.fillna(x.mean())
    else:
        return x


df.apply(foo)

   user  user.speed  user.bag_weight
0  Ivan        40.0              8.0
1  Petr        39.0              4.0
2  Alex        42.0              2.0
3   Den        35.0              4.0

In [94]:
# Поменяйте столбцы А и Е местами в датафрейме:

import pandas as pd
import numpy as np


df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
df.reindex(columns=list('ebcda'))

    e   b   c   d   a
0   4   1   2   3   0
1   9   6   7   8   5
2  14  11  12  13  10
3  19  16  17  18  15

In [85]:
# Поменяйте порядок столбцов в датафрейме от Е до А.

import pandas as pd
import numpy as np

df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
df.reindex(columns=df.columns.sort_values(ascending=False))

    e   d   c   b   a
0   4   3   2   1   0
1   9   8   7   6   5
2  14  13  12  11  10
3  19  18  17  16  15

In [97]:
# Выведите на экран строки датафрейма с шагом 2.

import pandas as pd
import numpy as np

df = pd.DataFrame(data={'user': ['Ivan', 'Petr', 'Alex', 'Den', 'Viktor'], 'user.speed': [
                  40, None, 42, 35, 60], 'user.bag_weight': [8, None, 2, 4, 19]})

df[df.index % 2 == 0]

     user  user.speed  user.bag_weight
0    Ivan        40.0              8.0
2    Alex        42.0              2.0
4  Viktor        60.0             19.0

In [122]:
# Создайте составной индекс на основе колонок user и user.number для датафрейма:

import pandas as pd
import numpy as np

df = pd.DataFrame(data={'user': ['Ivan', 'Petr', 'Alex', 'Den', 'Viktor'], 'user.number': [
                  '222-333', None, '222-555', '222-666', '222-777'], 'user.speed': [40, None, 42, 35, 60], 'user.bag_weight': [8, None, 2, 4, 19]})

df.loc[:, "user.number"].fillna("missing", inplace=True)
df.index = df.loc[:, 'user']+"_"+df.loc[:, 'user.number']
df

                  user user.number  user.speed  user.bag_weight
Ivan_222-333      Ivan     222-333        40.0              8.0
Petr_missing      Petr     missing         NaN              NaN
Alex_222-555      Alex     222-555        42.0              2.0
Den_222-666        Den     222-666        35.0              4.0
Viktor_222-777  Viktor     222-777        60.0             19.0

In [133]:
# Для столбца А найдите индекс строки в которой находится второе наибольшее значение.

import pandas as pd
import numpy as np

df = pd.DataFrame([[16, 24, 29], [1, 10, 16], [26, 21, 10], [3, 3, 8], [6, 17, 17], [
                  2, 25, 14], [9, 13, 21], [27, 24, 17], [19, 29, 1], [20, 24, 6]], columns=list('abc'))

df.sort_values("a").index[-2]

2

In [152]:
# Выведите последние две строки датафрейма, сумма ячеек которых больше 100.

import pandas as pd
import numpy as np

df = pd.DataFrame([[23, 33, 16, 35],
                   [24, 20, 13, 10],
                   [32, 33, 30, 28],
                   [13, 32, 36, 18],
                   [25, 27, 31, 10],
                   [35, 13, 36, 21],
                   [32, 32, 25, 17],
                   [34, 24, 23, 19]])


df[df.sum(axis=1) > 100].tail(2)

    0   1   2   3
5  35  13  36  21
6  32  32  25  17

# Step 1.5

In [158]:
# Выведите на экран сводку основной информации о датафрейме.

import pandas as pd
import numpy as np

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)

#### YOUR ANSWER BELOW THIS LINE ######
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes

In [159]:
# Выведите на экран первые три записи датафрейма.

import pandas as pd
import numpy as np

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)

#### YOUR ANSWER BELOW THIS LINE ######
df.head(3)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

In [168]:
# Выведите на экран данные, которые хранятся в строках [3, 4, 8] и колонках ['animal', 'age'].

import pandas as pd
import numpy as np

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)

#### YOUR ANSWER BELOW THIS LINE ######

df.iloc[[3, 4, 8], [0, 1]]

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

In [169]:
# Выберите только те строки, в которых количество посещений (visits) больше 2.

import pandas as pd
import numpy as np

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)

#### YOUR ANSWER BELOW THIS LINE ######
df.loc[df['visits'] > 2]

  animal  age  visits priority
b    cat  3.0       3      yes
d    dog  NaN       3      yes
f    cat  2.0       3       no

In [175]:
# Выберите строки датафрейма  в которых animal = cat, а age < 3.

import pandas as pd
import numpy as np

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)

#### YOUR ANSWER BELOW THIS LINE ######
df.query("animal=='cat' & age<3")

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

In [187]:
# В строке f замените значение в колонке age на 1.5

import pandas as pd
import numpy as np

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)

#### YOUR ANSWER BELOW THIS LINE ######
df.loc["f", "age"] = 1.5
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [185]:
# Посчитайте итоговое количество посещений (visits)

import pandas as pd
import numpy as np

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)

#### YOUR ANSWER BELOW THIS LINE ######
df["visits"].sum()

19